.Person {
  width: 60%;
  text-align: center;
  border: 1px solid #eee;
  margin: 30px auto;
  padding: 5px;
  box-shadow: 0 2px 3px #ccc;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
